<html>
    <%- include ('./header') %>
    <body>
        <div class="home-container">
            <%- include ('./side-panel')%>
            <div class="main-content">
                <%- body %>
            </div>
        </div>
    </body>
</html>