<div class="side-panel">
  <a href="/" class="panel-section">home</a>
  <a href="/genre" class="panel-section">genres</a>
  <a href="/publisher" class="panel-section">publishers</a>
  <a href="/platform" class="panel-section">platforms</a>
  <a href="/games" class="panel-section">add game</a>
</div>
