<html>
    <head>
        <title>Genres</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <% data.forEach(genre => {%>
            <ul class="genre-list">
                <p><%= genre.genre%></p>
                <% genre.games.forEach(game => {%>
                    <li><%= game %></li>
                <%})%>
            </ul>
        <%})%>
    </body>
</html>