<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="home-container">
            <div class="side-panel">
                <a href="/" class="panel-section">home</a>
                <a href="/genre" class="panel-section">genres</a>
                <a href="/publisher" class="panel-section">publishers</a>
                <a href="/platform" class="panel-section">platforms</a>
                <a href="/games" class="panel-section">game</a>
            </div>
            <div class="main-content">
                <ul style="color: white;">
                    <% data.forEach(game => { %>
                        <li><%= game.name %> (ID: <%= game.id%>) (Genre(s): <%= game.genres.length ? game.genres.join(", ") : "No Genres" %>)</li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </body>
</html>